NODE_ENV=development
NODE_VERSION=22

DB_HOST=postgresql.uhserver.com
DB_PORT=5432
DB_USER=usersistem
DB_PASSWORD=coloque-a-senha-aqui
DB_NAME=sistemacompra
DB_SSL=false

CORS_ORIGIN=https://sistema-compras-preview.web.app,https://sistema-compras-preview.firebaseapp.com,http://localhost:5173
ORDEM_COMPRA_EMAIL_PROVIDER=local-fake
PUPPETEER_HEADLESS=new
PUPPETEER_NO_SANDBOX=1
PDF_PROVIDER_STRICT=0

# SMTP real, se for usar envio de OC:
# ORDEM_COMPRA_EMAIL_PROVIDER=localweb-smtp
# LOCALWEB_SMTP_HOST=smtp.localweb.com.br
# LOCALWEB_SMTP_PORT=587
# LOCALWEB_SMTP_SECURE=false
# LOCALWEB_SMTP_USER=seu-email@dominio.com
# LOCALWEB_SMTP_PASS=sua-senha
# LOCALWEB_SMTP_FROM=seu-email@dominio.com
